* {
  box-sizing: border-box;
}

body {
  font-family: Calibri, Helvetica, Arial, sans-serif;
  background-color: lightgrey;
  font-size: medium;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.col {
  width: 33.33%;
  float: left;
  padding: 15px;
}

.col2{
  width: 33.33%;
  float: left;
  padding: 15px;
  border: 1px solid grey;
  background-color: white;
}

.col2 img {
  height: auto;
  width: 100%;
}

.header{
  padding: 15px;
  font-size: 150%;

}

/*The above code is inspired by W3Schools Responsive Grid Layout
Found here:https://www.w3schools.com/css/css_rwd_grid.asp */

a:link{
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

h3 {
  background-color: lightgrey;
  color: black;
  text-align: center;
}

h3:hover {
  background-color: green;
  color: white;
}

.button {
  padding: 15px 125px;
  display: inline-block;
  font-size: 16px;
}

.centerText {
  position: absolute;
  top: 40%;
  left: 48%;
  visibility: hidden;
  font-size: 40px;
}
/*Inspired by W3Schools Image text found here:
https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_center2 */

.animateImg {
  animation-name: flipCard;
  animation-duration: 4s;
  backface-visibility: hidden;
}

@keyframes flipCard {
  to {transform: rotateY(180deg);}
}


@media only screen and (max-width: 1000px){
  .col {
    width: 100%;
    float: left;
    padding: 15px;
  }

  .col2{
    width: 100%;
    float: left;
    padding: 15px;
    border: 1px solid black;
    position: relative;
  }

  .button {
    padding: 50px 155px;
    display: inline-block;
    font-size: 50px;
  }

  .centerText {
    position: absolute;
    top: 30%;
    left: 80%;
    visibility: hidden;
    font-size: 50px;
  }

}

/*The above code is inspired by W3schools responsive gallery
Found here:
https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive */
